
<div class="banner1">
	<div class="background_image">
		<%= current_user %>
		<div class="section no-pad-bot" id="index-banner">
			<div class="container banner1_text">
				<h1 class="header center banner_title"><strong>Know Your Surroundings</strong></h1>
				<div class="row center">
					<h4 class="header col s12 light banner1_text2">Rank your interests. Pick a location. Get VentureScore.</h4>
					<a href="#banner3" id="download-button" class="btn-large waves-light orange">Get My Score</a>
				</div>
			</div>
		</div>
	</div>    <!-- background image -->
</div>  <!-- end of banner 1 -->


<div id="banner2">
	<div class="slider" style="margin-top:25px;">
    <ul class="slides" style="width:800">
      <li>
        <img src="http://lorempixel.com/580/250/nature/2"> <!-- random image -->
        <div class="caption left-align">
          <h3>Find a travel destination that fits your your needs!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="http://lorempixel.com/580/250/nature/3"> <!-- random image -->
        <div class="caption right-align">
          <h3>Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
  </div>
</div>




<div class="banner3" id="banner3">
	<div class="row">
		<div class="col s3 sidebar_text">
			
			<p>1. Rank your interests from highest to lowest!</p>
	      
		
			<div class="test_guy">
				<ul id="sortable">
					<!-- added name to "li" -->
					<li class="interest_text z-depth-1" name="food"><span name="7"><i class="material-icons interest_icon valign">swap_vert</i></span>Food</li>
					<li class="interest_text z-depth-1" name="culture"><span name="6"><i class="material-icons interest_icon valign">swap_vert</i></span>Museums and Art</li>
					<li class="interest_text z-depth-1" name="shopping"><span name="5"><i class="material-icons interest_icon valign">swap_vert</i></span>Shopping</li>
					<li class="interest_text z-depth-1" name="health"><span name="4"><i class="material-icons interest_icon valign">swap_vert</i></span>Health & Fitness</li>
					<li class="interest_text z-depth-1" name="transportation"><span name="3"><i class="material-icons interest_icon valign">swap_vert</i></span>Transit Access</li>
					<li class="interest_text z-depth-1" name="nightlife"><span name="2"><i class="material-icons interest_icon valign">swap_vert</i></span>Clubs and Bars</li>
					<li class="interest_text z-depth-1" name="faith"><span name="1"><i class="material-icons interest_icon valign">swap_vert</i></span>Faith</li>
				</ul>
			</div>  
			
			

			<p>2. Enter a destination.<input id="pac-input" class="controls" type="text" style="text-align:center;" placeholder="San Francisco, CA, United States..."></p>

			<button class="btn waves-light orange interest_button" style="margin-left:18px" type="submit" id="interest" name="action">Submit
				<i class="material-icons right">send</i></button>
		</div>  <!-- end of test-guy col3 -->


		<div class="col s9">
			<!-- <div class="temp"></div> -->

			<div id="map-canvas">
				<div class="blurb"><h1>hi</h1></div>
			</div>
		</div> <!-- end of col9 -->
	</div> <!-- end of row -->

	
</div>  <!-- end of banner 3 -->
	



<div id="banner4">
	<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
</div>



<!-- <nav>
  <ul class="left hide-on-med-and-down show side_nav_width">
    <li><a href="#!">First Sidebar Link</a></li>
    <li><a href="#!">Second Sidebar Link</a></li>
  </ul>
  <ul id="slide-out" class="side-nav">
    <li><a href="#!">First Sidebar Link</a></li>
    <li><a href="#!">Second Sidebar Link</a></li>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="mdi-navigation-menu"></i></a>
</nav> -->

<script>
$(document).ready(function(){
	$(function() {
		$( "#sortable" ).sortable({
			revert: true
		});
		$( "#draggable" ).draggable({
			connectToSortable: "#sortable",
			helper: "clone",
			revert: "invalid"
		});
		$( "ul", "li" ).disableSelection();
	});

    $("#selecctall").change(function(){
      $(".filled-in").prop('.checked', $(this).prop(".checked"));
    });

    

});


</script>

<!-- 


	<form action="/interests" method="post" class="col s12">
		<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
		<div class="row">
			<div class="col s6 offset-s3 grid-example">
				<input name="food" id="food" type="text" class="validate">
				<label for="food">Food</label>
			</div>
			<div class="col s6 offset-s3 grid-example">
				<input name="culture" id="culture" type="text" class="validate">
				<label for="culture">Culture</label>
			</div>
	
			<div class="col s6 offset-s3 grid-example">
				<input name="religion" id="religion" type="text" class="validate">
				<label for="religion">Faith</label>
			</div>
			<div class="col s6 offset-s3 grid-example">
				<input name="health" id="health" type="text" class="validate">
				<label for="health">Health</label>
			</div>
			<div class="col s6 offset-s3 grid-example">
				<input name="nightlife" id="nightlife" type="text" class="validate">
				<label for="nightlife">Nightlife</label>
			</div>
			<div class="col s6 offset-s3 grid-example">
				<input name="shopping" id="shopping" type="text" class="validate">
				<label for="shopping">Shopping</label>
			</div>
			<div class="col s6 offset-s3 grid-example">
				<input name="transportation" id="transportation" type="text" class="validate">
				<label for="transportation">Transportation</label>
			</div>
			<div class="col s6 offset-s3 grid-example">
				<input name="outdoor" id="outdoor" type="text" class="validate">
				<label for="outdoor">Outdoor</label>
				<p>	<input type="submit" value="Check"></p>
			</div>
			</div>

		</div>
	</form>

-->
