
<div class="banner">
	<div class="background_image">
	<%= current_user %>
		<div class="section no-pad-bot" id="index-banner">
		<div class="container banner1_text">
		<br><br>

			<h1 class="header center banner_title"><strong>Get Your Score</strong></h1>
				<div class="row center">
					<h4 class="header col s12 light banner_text2">Rank your interests. Pin a location. Get MyRadius score.</h4>
				</div>
				<div class="row center">
					<a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Start Now</a>
				</div>
		<br><br>
		</div>
		</div>
	</div>    <!-- background image -->
</div>  <!-- end of banner 1 -->

<!-- start of banner 2 -->

<div class="container">
	<div class="col s6 "></div>
  <h3>Your score is..!</h3>
</div>
<hr>

<div class="row">
	<div class="col s3 sidebar_text">
		<p>Rank your interests from highest to lowest then pin a location on the map.</p>
	<input id="pac-input" class="controls" type="text" placeholder="Enter a location">
	<div class="valign-wrapper">
		<div class="test_guy">
			<ul id="sortable">
				<li class="#ffab91 deep-orange lighten-3 interest_text z-depth-3"><span name="7"><i class="material-icons interest_icon valign">swap_vert</i></span>Food</li>
				<li class="#ffab91 deep-orange lighten-3 interest_text z-depth-3"><span name="6"><i class="material-icons interest_icon valign">swap_vert</i></span>Museums and Art</li>
				<li class="#ffab91 deep-orange lighten-3 interest_text z-depth-3"><span name="5"><i class="material-icons interest_icon valign">swap_vert</i></span>Shopping</li>
				<li class="#ffab91 deep-orange lighten-3 interest_text z-depth-3"><span name="4"><i class="material-icons interest_icon valign">swap_vert</i></span>Health & Fitness</li>
				<li class="#ffab91 deep-orange lighten-3 interest_text z-depth-3"><span name="3"><i class="material-icons interest_icon valign">swap_vert</i></span>Transit Access</li>
				<li class="#ffab91 deep-orange lighten-3 interest_text z-depth-3"><span name="2"><i class="material-icons interest_icon valign">swap_vert</i></span>Clubs and Bars</li>
				<li class="#ffab91 deep-orange lighten-3 interest_text z-depth-3"><span name="1"><i class="material-icons interest_icon valign">swap_vert</i></span>Faith</li>
			</ul>
				<input class="waves-effect waves-light btn" type="submit" id="interest">
		</div>
	</div>
	</div>
	<div class="col s9">
		<!-- <div class="temp"></div> -->
		<div id="map-canvas">
			image of google maps
		</div>
	</div>
</div> <!-- end of middle banner row -->

<!-- <nav>
  <ul class="left hide-on-med-and-down show side_nav_width">
    <li><a href="#!">First Sidebar Link</a></li>
    <li><a href="#!">Second Sidebar Link</a></li>
  </ul>
  <ul id="slide-out" class="side-nav">
    <li><a href="#!">First Sidebar Link</a></li>
    <li><a href="#!">Second Sidebar Link</a></li>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="mdi-navigation-menu"></i></a>
</nav> -->

 <script>
 $(document).ready(function(){
  $(function() {
    $( "#sortable" ).sortable({
      revert: true
    });
    $( "#draggable" ).draggable({
      connectToSortable: "#sortable",
      helper: "clone",
      revert: "invalid"
    });
    $( "ul", "li" ).disableSelection();
  });


});


  </script>

<!-- 


	<form action="/interests" method="post" class="col s12">
		<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
		<div class="row">
			<div class="col s6 offset-s3 grid-example">
				<input name="food" id="food" type="text" class="validate">
				<label for="food">Food</label>
			</div>
			<div class="col s6 offset-s3 grid-example">
				<input name="culture" id="culture" type="text" class="validate">
				<label for="culture">Culture</label>
			</div>
	
			<div class="col s6 offset-s3 grid-example">
				<input name="religion" id="religion" type="text" class="validate">
				<label for="religion">Faith</label>
			</div>
			<div class="col s6 offset-s3 grid-example">
				<input name="health" id="health" type="text" class="validate">
				<label for="health">Health</label>
			</div>
			<div class="col s6 offset-s3 grid-example">
				<input name="nightlife" id="nightlife" type="text" class="validate">
				<label for="nightlife">Nightlife</label>
			</div>
			<div class="col s6 offset-s3 grid-example">
				<input name="shopping" id="shopping" type="text" class="validate">
				<label for="shopping">Shopping</label>
			</div>
			<div class="col s6 offset-s3 grid-example">
				<input name="transportation" id="transportation" type="text" class="validate">
				<label for="transportation">Transportation</label>
			</div>
			<div class="col s6 offset-s3 grid-example">
				<input name="outdoor" id="outdoor" type="text" class="validate">
				<label for="outdoor">Outdoor</label>
				<p>	<input type="submit" value="Check"></p>
			</div>
			</div>

		</div>
	</form>

 -->
