/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *
 *= require jquery-ui
 *= require_tree .
 *= require_self
 */
@import "materialize";
@import "materialize/extras/nouislider";


html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
  }
#container-rpm {
	width: 200px;
	height: 200px;
}

.nav-wrapper {
  // background-color: whitesmoke;
  background-color: #363636;
}

.nav_text {
	margin-left: 25px;
	margin-right: 25px;
}
.nav_text a {
	color: rgb(248, 150, 0);
	font-size: 18px;
	font-weight: 200px;
}

.modal-content {
	color:black;
}

.banner_title {
	color:white;
	margin-top: 180px;
	font-size: 80px;
	font-weight: 200;

}
.banner1_text2 {
	color: white;
	margin-bottom: 20px;
	padding-bottom: 20px;
}
.center_banner_text {
	text-align: center;
}

.banner1 {
	background-image: url("https://s-media-cache-ak0.pinimg.com/originals/e0/4d/9d/e04d9d29c3bf0b1f73eaa6ae88088c1f.gif");
	background-repeat: no-repeat;
	background-size: 100%;
	height: 100vh;
	min-height: 600px;
}

.background_image {
	background: rgba(0, 0,0, 0.55);
	height: 100vh;
	min-height: 600px;
}

.banner2 {
	background-color: whitesmoke;
	
}

.banner2_media img {
	width: 350px;
	height: 400px;
	text-align: center;
	padding-top:25px;
	
}


.banner3 {
	background-color:#363636;
	height: 100vh;
	min-height: 600px;
	z-index: -1;
}
.breakdown_button {
	margin-left: auto;
	margin-right: auto;

}



// sidebar
.side_nav_width {
	width: 100px;
}
.interests {
	height: 500px;
}
.sidebar_text p {
	font-weight: 200;
	font-size: 20px;
	color: rgb(248, 150, 0);
	margin: 18px;
	text-align: center;
	border: 1px solid rgb(248, 150, 0);
	// border: 1px solid #a7e2c7;
	//color: rgb(248, 150, 0)
}

.interest_button {
	text-align: center;
}

.interest_text {
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 2px;
	// box-shadow: 3px 3px 1px #888888;
}
.interest_text span {
	width: 50px;
    display: inline-block;
    position: absolute;
    left: 3px;
}

.interest_icon {
	text-align: left;
}

#sortable ul {
	background-color: black;
	border: 1px solid;
}

#sortable li {
	background-color: white;
	text-align: center;
    vertical-align: middle;
    position: relative;
    padding: 10px;
    color: black;
}
.test_guy {
	
	max-width: 800px;
	width: 90%;
	margin:  0 auto;
}

#map-canvas{
	height:650px;
	z-index: -1px;
	}

.blurb {

}
#container-rpm{
	width: 300px;
	height: 200px;
	float: left;
	background-color: transparent;
}


 // #sortable { list-style-type: none; margin: 0; padding: 0; }
 // #sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
 // #sortable li span { position: absolute; margin-left: -1.3em; }

.footer {
	padding-top: 50px;
	height: 50px;
	text-align: center;
}

.footer-copyright {
	font-size: 15px;
	margin-top: 50px;
}
.temp {
	background-image: url("http://www.appelsiini.net/assets/2008/5/26/tartu.png");
	background-repeat: no-repeat;
	height: 550px;
	background-size: 100%;

}




